@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>

<div class="text-center">
    
    <h1 class="display-4">Student planner</h1>
    <div id="text-box">
        <p>A calendar based planner application, where you can collaborate with others by posting or editing files that have their designated time slots for every day of the week.</p>
    </div>

</div>

<div id="date-box">
    <p>Today's date:</p>  <p>@DateTime.Now.ToString("yyyy-MM-dd")</p>
</div>
