@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>

<div class="text-center">
    
    <h1 class="display-4">Student planner</h1>
    <div id="text-box">
        <p>@ViewData["Message"]</p>
    </div>

</div>

<div id="date-box">
    <p>Today's date:</p>  <p>@DateTime.Now.ToString("yyyy-MM-dd")</p>
</div>
