@model Student_Planner.Models.Event
@{
    ViewData["Title"] = "Day Event";
}

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method = "post" asp-controller="Event" asp-action="DayEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">EventName</label>
                <input name="EventName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">EventID</label>
                <input name="EventID" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">EventDescription</label>
            </div>
            <textarea asp-for="EventDescription" rows="10" cols="100"></textarea>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <span>@Model.EventName</span>
</div>
<div>
    <span>@Model.EventID</span>
</div>
<div>
    <span>@Model.EventDescription</span>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
